@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-de-fundo:#8CC7C4;
    --cor-texto-secundaria:#281C59;
    --botao-ativo:#6984A9;
    --botão-inativo:#d295ee;


}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Montserrat", sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}

.titulo-principal{
   text-align-left;
   width: 100%;
   font-size: 32px; 
}
.titulo-principal span{
    color:#8CC7C4 
}

.botao{
    background-color: var(--botão-inativo);
    display: flex;
    justify-content: center;
    padding: lem;
    font-size: 10px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

